extends ./layouts/index

block contenido 
   main(class="container mt-5")
        div(class="row")
            h1(class="text-center mt-5")  #{nombrePagina}
            div(class="row")
                h2(class="d-block w-100 text-center") Agrega un Testimonial

                div(class="row justify-content-center col")
                    div(class="col-md-8") 
                        form(action="/testimoniales" method="POST")
                            div(class="form-group")
                                label(for="nombre") Nombre 
                                input(class="form-control" id="nombre" type="text" placeholder="Tu Nombre" name="nombre")
                            div(class="form-group")
                                label(for="correo") Correo 
                                input(class="form-control" id="correo" type="email" placeholder="Tu Correo" name="correo")
                            div(class="form-group")
                                label(for="mensaje") Mensaje 
                                textarea(id="mensaje" class="form-control" name="mensaje", cols="30", rows="10")
                            input(type="submit" class="btn btn-succes btn-block") 